<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DisasterManagement</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="bg-zinc-800 min-h-screen flex flex-col p-10 w-full">
      <div class="flex justify-between w-full">
      <h1 class="text-4xl text-white">Welcome to student page test-1</h1>
      <a href="/logout" class="bg-yellow-500 text-black rounded-md py-3 px-6 h-[50px]">Logout</a>  
      </div>
    </div>
  </body>
</html>
